

     body{
        background-image: url(../image/n.jpg);
        height: 100vh;
        background-size: cover; 
    }
    
.log{

    background-color: rgba(244, 181, 151,0.5); 
    border-radius: 30px;
    height: 650px;
    width: 470px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin:auto ;
    margin-top: 200px;
    border: solid 2px rgba(244, 181, 151,0.5);
    box-shadow: 3px 3px 3px rgb(161, 145, 145),-3px -3px 6px gold;

}
.text_box{
    padding: 10px;
    border-radius: 30px;
    width: 90%;
    height: 20px;
    outline: none;
display: flex;
border: solid 2px rgb(220, 150, 100);
margin: auto;
box-shadow: 3px 3px 3px,-3px -3px 6px gold;
margin-top: 40px;
} 


.input_bot{
   
 width: 5cm;
height: 1cm; 
border-radius: 30px;
font-family: inherit;
border: none;
position:relative ;
z-index: 1;
box-shadow: 3px 3px 3px rgba(238, 255, 0, 0.492) ,-3px -3px 6px rgba(238, 255, 0, 0.492);
 margin-left: 22%; 
margin-top: 50px;
} 
.input_bot:hover {
    display: block;
    filter: drop-shadow(0 0 10px gold);
    background-color: blanchedalmond;
    transition: 2s;

}


.link{
    margin: auto;
    font-size: 20px;

}
.h1{
 
    color: rgb(255, 255, 255);
text-shadow: 6px 6px 6px black, -6px -6px 12px gold ;

}
 @media(max-width :770px  ){
    .log{
        height: 470px;
        width: 300px;
    }
    .text_box{
        padding: 10px;
        border-radius: 30px;
        width: 99%;
        height: 10px;
        outline: none;
    display: flex;
    border: solid 2px rgb(220, 150, 100);
    margin: auto;
    box-shadow: 3px 3px 3px,-3px -3px 6px gold;
    margin-top: 30px;
    } 
    
    
    .input_bot{
       
     width: 100px;
    height: 30px; 
    border-radius: 30px;
    font-family: inherit;
    border: none;
    position:relative ;
    z-index: 1;
    box-shadow: 3px 3px 3px rgba(238, 255, 0, 0.492) ,-3px -3px 6px rgba(238, 255, 0, 0.492);
     margin-left: 24%; 
    margin-top: 30px;
    } 
    .input_bot:hover {
        display: block;
        filter: drop-shadow(0 0 10px gold);
        background-color: blanchedalmond;
        transition: 2s;
    
    }
    
    
    .link{
        margin: auto;
        font-size: 15px;
    
    }
    .h1{
     font-size: medium;
        color: rgb(255, 255, 255);
    text-shadow: 6px 6px 6px black, -6px -6px 12px gold ;
    text-align: center;
    }

}
 @media(max-width :570px  ){
    .log{
        height: 400px;
        width: 250px;
    }
    .text_box{
        padding: 10px;
        border-radius: 30px;
        width: 90%;
        height: 10px;
        outline: none;
    display: flex;
    border: solid 2px rgb(220, 150, 100);
    margin: auto;
    box-shadow: 3px 3px 3px,-3px -3px 6px gold;
    margin-top: 20px;
    } 
    
    
    .input_bot{
       
     width: 100px;
    height: 25px; 
    border-radius: 30px;
    font-family: inherit;
    border: none;
    position:relative ;
    z-index: 1;
    box-shadow: 3px 3px 3px rgba(238, 255, 0, 0.492) ,-3px -3px 6px rgba(238, 255, 0, 0.492);
     margin-left: 22%; 
    margin-top: 30px;
    } 
    .input_bot:hover {
        display: block;
        filter: drop-shadow(0 0 10px gold);
        background-color: blanchedalmond;
        transition: 2s;
    
    }
    
    
    .link{
        margin: auto;
        font-size: 10px;
    
    }
    .h1{
     
        color: rgb(255, 255, 255);
    text-shadow: 6px 6px 6px black, -6px -6px 12px gold ;
    
    }

}